#containerZoomify {
    width:100%;
    margin:0 auto;
    padding: 20px;
}

#griglia {
	padding: 0;
	margin: 0;
}

#griglia > li {
	display: inline-block;
	margin: 10px;
	padding: 10px 10px 25px 10px;
	background: #eee;
	border: 1px solid #fff;
}

.img-responsive {
	width: 100%;
	height: auto;
	border: 0px;
}

li.polaroid {
	transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    }
     
li.polaroid:nth-child(even) {
	transform:rotate(1deg);
	-ms-transform:rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    }
     
li.polaroid:nth-child(3n) {
	transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
    }

li.polaroid:nth-child(4n) {
	transform:rotate(3deg);
	-ms-transform:rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    position: relative;
    right: 5px;
    }
     
li.polaroid:nth-child(5n) {
	transform:rotate(5deg);
	-ms-transform:rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    right: 5px;
    }
     
li.polaroid:nth-child(8n) {
    position: relative;
    top: 8px;
    right: 5px;
    }
     
li.polaroid:nth-child(11n) {
    position: relative;
    top: 3px;
    left: -5px;
    }
